# Configuration file for coverage.py

# Configuration for when coverage is run
[run]
branch = True
include =
        ./projects/views.py
        ./projects/factories*
        ./users/factories*

# Configuration for the report of coverage
[report]
ignore_errors = True
#include =
#        *models.py
#        *views.py

[html]
directory = html-test-results
