{% extends "base.html" %}

{% load bootstrap4 %}

{% block title %}Login{% endblock %}

{% block content %}
  <body class="text-center">
    <h1 class="py-4">{{username}}'s Profile Page</h1>

    <main role="main" class="profile-container">

      <ul class="list-group">
        <li class="list-group-item"><p>Name: {{ user.first_name }} {{ user.last_name }}</p></li>
        <li class="list-group-item"><p>Email:
          {% if user.email %}
          {{ user.email }}
          {% else %}
          Has not been registered
          {% endif %}
        </p></li>

        <li class="list-group-item"><p>Phone:
          {% if profile.phone_number %}
          {{ profile.phone_number }}
          {% else %}
          Has not been registered
          {% endif %}
        </p></li>

        <li class="list-group-item"><p>Company:
          {% if profile.company %}
          {{ profile.company }}
          {% else %}
          Has not been registered
        </p></li>
        {% endif %}

        <li class="list-group-item"><p>Country:
          {% if profile.country %}
          {{ profile.country }}
          {% else %}
          Has not been registered
          {% endif %}
        </p></li>

        <li class="list-group-item"><p>State:
          {% if profile.state %}
          {{ profile.state }}
          {% else %}
          Has not been registered
          {% endif %}
        </p></li>

        <li class="list-group-item"><p>
          City:
          {% if profile.city %}
          {{ profile.city }}
          {% else %}
          Has not been registered
          {% endif %}
        </p></li>

        <li class="list-group-item"><p>Postal Code:
          {% if profile.postal_code %}
          {{ profile.postal_code }}
          {% else %}
          Has not been registered
          {% endif %}
        </p></li>

        <li class="list-group-item"><p>Street Address:
          {% if profile.street_address %}
          {{ profile.street_address }}
          {% else %}
          Has not been registered
          {% endif %}
        </p></li>

        <div class="categories-profile list-group-item">
         <p> Categories:
            {% if categories %}
              {% for category in categories %}
              <li class="list-inner-group-item">
                <p>{{ category }}</p>
              </li>
              {% endfor %}
            {% else %}
              No categories registered for {{user}}
            {% endif %}
          </p>
        </div>
      </ul>

    </main>
  </body>

{% endblock %}